gradio
numpy==1.26.4
tensorflow==2.15.0
keras==2.15.0
matplotlib==3.8.4
opencv-python==4.9.0.80
scikit-learn==1.4.2
pillow==10.3.0
import tkinter as tk
from PIL import ImageGrab
import numpy as np
import cv2
import os
import uuid
import gradio as gr
import numpy as np
import tensorflow as tf
import cv2
import matplotlib.pyplot as plt
